@font-face {
    font-family: "BRANDON-LIGHT";
    src: url("assets/fonts/Brandon/Brandon_light.otf");
}

@font-face {
    font-family: "BRANDON-MED";
    src: url("assets/fonts/Brandon/Brandon_med.otf");
}

@font-face {
    font-family: "BRANDON-BLD";
    src: url("assets/fonts/Brandon/Brandon_bld.otf");
}

.recipe_container h2,h3 {
    font-family: "BRANDON-BLD";
}

.recipe_container ul {
    list-style: inside;
}

.recipe_container ol {
    list-style-type: revert;
    list-style-position: inside;
}

.recipe_container * :not(li, svg) {
    margin: 0.5rem 0;
}

figure.aligncenter {
    margin: 0.5rem auto;
}
