@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --lele-orange: #FB9119;
    --lele-blue: #02547C;
}

@font-face {
    font-family: "BRANDON-LIGHT";
    src: url("./assets/fonts/Brandon/Brandon_light.otf");
}

@font-face {
    font-family: "BRANDON-MED";
    src: url("./assets/fonts/Brandon/Brandon_med.otf");
}

@font-face {
    font-family: "BRANDON-BLD";
    src: url("./assets/fonts/Brandon/Brandon_bld.otf");
}

.shell {
    width: full;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 0;
}